In [14]:
import os
from openpyxl import load_workbook
import pandas as pd

BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath('')))
FILE_DIR = 'amerigo_island'
DATA_DIR = 'data'

data_dir = os.path.join(BASE_DIR, FILE_DIR, DATA_DIR)

In [5]:
load_xlsx_filename = 'amerigo_data.xlsx'
load_sheetname = 'Load Data'

load_xlsx_path = os.path.join(data_dir, load_xlsx_filename)

workbook = load_workbook(load_xlsx_path, data_only=True)
load_worksheet = workbook[load_sheetname]

In [6]:
def XLSXDictReader(sheet, header_row):
    rows = sheet.max_row
    cols = sheet.max_column

    def item(i, j):
        return sheet.cell(row=header_row, column=j).value, sheet.cell(row=i, column=j).value

    return (dict(item(i, j) for j in range(1, cols + 1)) for i in range(header_row + 1, rows + 1))

In [51]:
load_worksheet_vals = [row for row in load_worksheet.values]
columns = ["Date/Time", "Amerigo Island Load (MW)"]

load_df = pd.DataFrame(data= load_worksheet_vals[1:], columns=load_worksheet_vals[0])[columns]
load_df.columns = ["datetime", "load_in_mw"]

In [52]:
load_df.head()

                    datetime  load_in_mw
0 2017-01-01 01:00:00.000000        35.1
1 2017-01-01 02:00:00.000000        34.6
2 2017-01-01 02:59:59.999999        34.2
3 2017-01-01 03:59:59.999999        33.8
4 2017-01-01 04:59:59.999999        33.4

In [53]:
daily_df = load_df.groupby([load_df["datetime"].dt.date])["load_in_mw"].sum().to_frame()
weekly_df = load_df.groupby([load_df["datetime"].dt.week])["load_in_mw"].sum().to_frame()
weekly_df.index.name = "week_num"
monthly_df = load_df.groupby([load_df["datetime"].dt.month])["load_in_mw"].sum().to_frame()

In [58]:
31_536_604 / 8760

3600.0689497716894

In [59]:
weekly_df["load_in_mw"].sum()

366064.8