In [10]:
import os
from openpyxl import load_workbook
import pandas as pd

BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath('')))
DATA_DIR = os.path.join(BASE_DIR, 'amerigo_island', 'data')

xls_filename = 'load_and_generation.xlsx'
xls_sheetname = 'Combined Data'
header_col_num = 1

In [24]:
wb = load_workbook(os.path.join(DATA_DIR, xls_filename), data_only=True)
ws = wb[xls_sheetname]

ws_vals = [row for row in ws.values]
ws_colnames = ws_vals[header_col_num]

load_and_gen_df = pd.DataFrame(data= ws_vals[header_col_num + 1:], columns= ws_colnames)
load_and_gen_df.columns = ['date', 'load_mw', 'gen_wind_mw', 'gen_solar_mw', 'gen_thermal_total_mw', 'gen_thermal_rice_mw', 'gen_thermal_combustion_mw']
load_and_gen_df = load_and_gen_df[['date', 'load_mw', 'gen_wind_mw', 'gen_solar_mw']]
load_and_gen_df.describe()

           load_mw  gen_wind_mw  gen_solar_mw
count  8759.000000  8759.000000   8759.000000
mean     41.792990     5.711954      5.403371
std       5.316065     4.145358      7.175185
min      31.000000     0.000000     -0.007002
25%      37.000000     2.347190     -0.007002
50%      42.800000     4.741340     -0.007002
75%      46.200000     8.400130     11.222235
max      55.800000    15.098400     22.876920

In [25]:
load_and_gen_df['gen_solar_mw'] = load_and_gen_df['gen_solar_mw'].apply(lambda x: x if x > 0 else 0)
load_and_gen_df.describe()

           load_mw  gen_wind_mw  gen_solar_mw
count  8759.000000  8759.000000   8759.000000
mean     41.792990     5.711954      5.406899
std       5.316065     4.145358      7.172525
min      31.000000     0.000000      0.000000
25%      37.000000     2.347190      0.000000
50%      42.800000     4.741340      0.000000
75%      46.200000     8.400130     11.222235
max      55.800000    15.098400     22.876920