# Common DataFrame manipulations to all storage options

In [1]:
import os
from openpyxl import load_workbook
import pandas as pd
from datetime import timedelta

BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath('')))
DATA_DIR = os.path.join(BASE_DIR, 'amerigo_island', 'data')
RAW_DATA_DIR = os.path.join(DATA_DIR, 'raw')
INTERIM_DATA_DIR = os.path.join(DATA_DIR, 'interim')

INPUT_LOAD_AND_VRE_FILENAME = 'load_and_vre.csv'
FINAL_LOAD_AND_VRE_FILENAME = 'final_load_and_vre.csv'

In [2]:
# all input columns as variables for later use
date_colname = 'date'
load_colname = 'load_mw'
solar_gen_colname = 'solar_mw'
wind_gen_colname = 'wind_mw'

load_and_vre_df = pd.read_csv(os.path.join(RAW_DATA_DIR, INPUT_LOAD_AND_VRE_FILENAME))
input_cols = [date_colname, load_colname, wind_gen_colname, solar_gen_colname]
load_and_vre_df = load_and_vre_df.iloc[:, [i for i in range(len(input_cols))]]
load_and_vre_df.columns = input_cols

In [19]:
# all derived columns as variables for later use

### COMMON - columns needed bt legacy gen, batteries, hydrogen
total_vre_gen_colname = 'total_vre_mw'
day_of_month_colname = 'day_of_month'
day_of_yr_colname = 'day_of_yr'
week_of_yr_colname = 'wk_of_yr'
month_colname = 'month'
year_colname = 'year'
weekday_colname = 'weekday'
daily_load_vre_diff_colname = 'daily_load_vre_diff'
prev_7_load_colname = 'prev_7_load'
prev_7_load_vre_diff_colname = 'prev_7_load_vre_diff'
prev_7_vre_gen_colname = 'prev_7_vre_gen'
critical_load_mw_colname = 'critical_load_mw'
critical_load_less_vre_colname = 'critical_load_less_vre_mw'
surplus_vre_colname = 'surplus_vre'

### BATTERIES 
cuml_load_since_prev_charge_colname = 'cuml_load_since_prev_charge_mw'
cuml_charge_since_prev_charge_colname = 'cuml_charge_since_prev_discharge_mw'
battery_soc_colname = 'battery_soc'

### HYDROGEN
req_hydrogen_kg_colname = 'reqd_hydrogen_kg'
hydrogen_production_kg_colname = 'hydrogen_prod_kg'
hydrogen_production_m3_colname = 'hydrogen_prod_m3'
hydrogen_h2o_demand_l_colname = 'hydrogen_h2o_demand_l'
cuml_hydrogen_demand_kg_colname = 'cuml_hydrogen_demand_kg'
cuml_h2_energy_demand_mwh_colname = 'cuml_h2_energy_demand_mwh'

### BAU - LEGACY GENERATION
thermal_gen_total_mw_colname = 'thermal_gen_total_mw'
thermal_gen_rice_mw_colname = 'thermal_gen_rice_mw'
thermal_gen_combustion_mw_colname = 'thermal_gen_combustion_mw'

In [4]:
# other values/assumptions needed for the analysis
CRITICAL_LOAD_PERC = (1/3)
SOLAR_SCALE_FACTOR = 4
WIND_SCALE_FACTOR = .4

SOLAR_INSTALLATION_COST_MM = 50.8
WIND_INSTALLATION_COST_MM = 31.2

In [5]:
def clean_input_columns(df):

    cleaned_df = df.copy()
    cleaned_df = cleaned_df.dropna(how='all')

    cleaned_df[date_colname] = pd.to_datetime(cleaned_df[date_colname])
    # all solar vals need to be > 0
    cleaned_df[solar_gen_colname] = cleaned_df[solar_gen_colname]\
        .apply(lambda x: x if x > 0 else 0)
    
    cleaned_df[month_colname] = cleaned_df[date_colname].map(lambda x: x.month)
    cleaned_df[day_of_month_colname] = cleaned_df[date_colname].map(lambda x: x.day)
    cleaned_df[day_of_yr_colname] = cleaned_df[date_colname].map(lambda x: x.timetuple().tm_yday)
    
    return cleaned_df

In [6]:
cleaned_load_and_vre_df = clean_input_columns(load_and_vre_df)

In [7]:
assert len(cleaned_load_and_vre_df) == 8760, "Expected one row per hour in year (8760), got {} rows".format(len(load_and_gen_df))

for day_of_yr in cleaned_load_and_vre_df[day_of_yr_colname].unique():
    if len(cleaned_load_and_vre_df[cleaned_load_and_vre_df[day_of_yr_colname] == day_of_yr]) != 24:
        assert ValueError("Day {} has {} values".format(day_of_yr, len(cleaned_load_and_vre_df[cleaned_load_and_vre_df[day_of_yr_colname] == day_of_yr])))

In [8]:
def add_common_derived_columns(df):
    
    decorated_df = df.copy()
    
    decorated_df[solar_gen_colname] = decorated_df[solar_gen_colname] * SOLAR_SCALE_FACTOR
    decorated_df[wind_gen_colname] = decorated_df[wind_gen_colname] * WIND_SCALE_FACTOR
    
    decorated_df[total_vre_gen_colname] = \
        decorated_df[wind_gen_colname] + decorated_df[solar_gen_colname]
    
    decorated_df[critical_load_mw_colname] = \
        decorated_df[load_colname] * CRITICAL_LOAD_PERC
    
    decorated_df[critical_load_less_vre_colname] = \
        decorated_df[critical_load_mw_colname] - decorated_df[total_vre_gen_colname]
    
    decorated_df[surplus_vre_colname] = \
        -decorated_df[critical_load_less_vre_colname]

    decorated_df[critical_load_less_vre_colname] = decorated_df[critical_load_less_vre_colname]\
        .map(lambda x: x if x > 0 else 0)

    decorated_df[surplus_vre_colname] = decorated_df[surplus_vre_colname]\
        .map(lambda x: x if x > 0 else 0)
    
    return decorated_df

In [9]:
final_load_and_vre_df = add_common_derived_columns(cleaned_load_and_vre_df)
final_load_and_vre_df.to_csv(os.path.join(INTERIM_DATA_DIR, FINAL_LOAD_AND_VRE_FILENAME), index=False)

# Hydrogen-specific analysis

In [20]:
ELEC_EFF_H2_FUEL_CELL_KWH_PER_KG = 19.99
ELEC_EFF_ELECTROLYSIS_KWH_PER_KG = 55.8

ENERGY_CONSUMPTION_H2O_DESAL_KWH_PER_M3 = 1.8
DENSITY_H2_300BAR_KG_PER_M3 = 20
DENSITY_H2_30BAR_KG_PER_M3 = 2.38
H2O_ELECTROLYSIS_CONSUMPTION_L_PER_M3 = 1.4

def calc_h2_cols(df):
    
    decorated_df = df.copy()
    
    decorated_df[req_hydrogen_kg_colname] = \
        (decorated_df[critical_load_less_vre_colname] * 1000)/ ELEC_EFF_H2_FUEL_CELL_KWH_PER_KG
    
    decorated_df[hydrogen_production_kg_colname] = \
        (decorated_df[surplus_vre_colname] * 1000) / ELEC_EFF_ELECTROLYSIS_KWH_PER_KG
    
    decorated_df[hydrogen_production_m3_colname] = \
        decorated_df[hydrogen_production_kg_colname] / DENSITY_H2_30BAR_KG_PER_M3
    
    decorated_df[hydrogen_h2o_demand_l_colname] = \
        decorated_df[hydrogen_production_m3_colname] * H2O_ELECTROLYSIS_CONSUMPTION_L_PER_M3
    
    decorated_df.sort_values(date_colname)
    
## calc cuml h2 demand
    decorated_df[cuml_hydrogen_demand_kg_colname] = None
    for idx, row in decorated_df.iterrows():
        
        if idx == 0:
            val = row[req_hydrogen_kg_colname]
        else : #
            val = \
                decorated_df.loc[idx - 1, cuml_hydrogen_demand_kg_colname] \
                + row[req_hydrogen_kg_colname]\
                - row[hydrogen_production_kg_colname]
        decorated_df.at[idx, cuml_hydrogen_demand_kg_colname] = val
        
    decorated_df[cuml_h2_energy_demand_mwh_colname] = \
        (decorated_df[cuml_hydrogen_demand_kg_colname] * ELEC_EFF_H2_FUEL_CELL_KWH_PER_KG) / 1000
    
    return decorated_df

In [21]:
h2_hourly_df = calc_h2_cols(final_load_and_vre_df)

In [23]:
h2_hourly_df.head(24)

,date,load_mw,wind_mw,solar_mw,month,day_of_month,day_of_yr,total_vre_mw,critical_load_mw,critical_load_less_vre_mw,surplus_vre,reqd_hydrogen_kg,hydrogen_prod_kg,hydrogen_prod_m3,hydrogen_h2o_demand_l,cuml_hydrogen_demand_kg,cuml_h2_energy_demand_mwh
0,2017-01-01 00:00:00,35.1,0.671864,0.000,1,1,1,0.671864,11.700000,11.028136,0.000000,551.682641,0.000000,0.000000,0.000000,551.683,11.0281
1,2017-01-01 01:00:00,35.1,0.671864,0.000,1,1,1,0.671864,11.700000,11.028136,0.000000,551.682641,0.000000,0.000000,0.000000,1103.37,22.0563
2,2017-01-01 02:00:00,34.6,0.493308,0.000,1,1,1,0.493308,11.533333,11.040025,0.000000,552.277405,0.000000,0.000000,0.000000,1655.64,33.0963
3,2017-01-01 03:00:00,34.2,0.436772,0.000,1,1,1,0.436772,11.400000,10.963228,0.000000,548.435618,0.000000,0.000000,0.000000,2204.08,44.0595
4,2017-01-01 04:00:00,33.8,0.586040,0.000,1,1,1,0.586040,11.266667,10.680627,0.000000,534.298483,0.000000,0.000000,0.000000,2738.38,54.7402
5,2017-01-01 05:00:00,33.4,0.448116,0.000,1,1,1,0.448116,11.133333,10.685217,0.000000,534.528131,0.000000,0.000000,0.000000,3272.9,65.4254
6,2017-01-01 06:00:00,33.3,0.365421,0.000,1,1,1,0.365421,11.100000,10.734579,0.000000,536.997439,0.000000,0.000000,0.000000,3809.9,76.1599
7,2017-01-01 07:00:00,33.8,0.736516,0.000,1,1,1,0.736516,11.266667,10.530151,0.000000,526.770919,0.000000,0.000000,0.000000,4336.67,86.6901
8,2017-01-01 08:00:00,34.7,0.637500,12.504,1,1,1,13.141500,11.566667,0.000000,1.574833,0.000000,28.222820,67.170311,94.038435,4308.45,86.1259
9,2017-01-01 09:00:00,34.7,0.471112,39.808,1,1,1,40.279112,11.566667,0.000000,28.712445,0.000000,514.559952,1224.652686,1714.513761,3793.89,75.8399
10,2017-01-01 10:00:00,40.7,0.312987,40.856,1,1,1,41.168987,13.566667,0.000000,27.602321,0.000000,494.665243,1177.303277,1648.224588,3299.23,65.9515
11,2017-01-01 11:00:00,41.4,0.349240,77.956,1,1,1,78.305240,13.800000,0.000000,64.505240,0.000000,1156.007885,2751.298767,3851.818274,2143.22,42.8429
12,2017-01-01 12:00:00,43.7,0.343940,60.196,1,1,1,60.539940,14.566667,0.000000,45.973273,0.000000,823.893787,1960.867214,2745.214099,1319.32,26.3733
13,2017-01-01 13:00:00,43.4,0.365564,63.016,1,1,1,63.381564,14.466667,0.000000,48.914898,0.000000,876.611070,2086.334348,2920.868087,442.713,8.84982
14,2017-01-01 14:00:00,42.9,0.322934,84.896,1,1,1,85.218934,14.300000,0.000000,70.918934,0.000000,1270.948631,3024.857741,4234.800838,-828.236,-16.5564
15,2017-01-01 15:00:00,43.3,0.356415,74.540,1,1,1,74.896415,14.433333,0.000000,60.463081,0.000000,1083.567768,2578.891288,3610.447804,-1911.8,-38.217
16,2017-01-01 16:00:00,44.9,0.164257,40.352,1,1,1,40.516257,14.966667,0.000000,25.549591,0.000000,457.877967,1089.749560,1525.649385,-2369.68,-47.3699
17,2017-01-01 17:00:00,44.0,0.012619,33.580,1,1,1,33.592619,14.666667,0.000000,18.925952,0.000000,339.174765,807.235941,1130.130317,-2708.86,-54.15
18,2017-01-01 18:00:00,44.0,0.055664,5.444,1,1,1,5.499664,14.666667,9.167003,0.000000,458.579443,0.000000,0.000000,0.000000,-2250.28,-44.983
19,2017-01-01 19:00:00,45.5,0.140142,0.000,1,1,1,0.140142,15.166667,15.026524,0.000000,751.702064,0.000000,0.000000,0.000000,-1498.58,-29.9565
20,2017-01-01 20:00:00,46.5,0.517536,0.000,1,1,1,0.517536,15.500000,14.982464,0.000000,749.497949,0.000000,0.000000,0.000000,-749.077,-14.9741
21,2017-01-01 21:00:00,45.0,1.231308,0.000,1,1,1,1.231308,15.000000,13.768692,0.000000,688.778989,0.000000,0.000000,0.000000,-60.2982,-1.20536
22,2017-01-01 22:00:00,41.7,2.214044,0.000,1,1,1,2.214044,13.900000,11.685956,0.000000,584.590095,0.000000,0.000000,0.000000,524.292,10.4806
23,2017-01-01 23:00:00,39.6,1.587616,0.000,1,1,1,1.587616,13.200000,11.612384,0.000000,580.909655,0.000000,0.000000,0.000000,1105.2,22.093

In [13]:
def get_h2_storage_characteristics(df):
    
    
    max_h2
    return h2_characteristics

In [18]:
h2_hourly_df[[hydrogen_production_kg_colname, hydrogen_h2o_demand_l_colname]].head(24)

    hydrogen_prod_kg  hydrogen_h2o_demand_l
0           0.000000               0.000000
1           0.000000               0.000000
2           0.000000               0.000000
3           0.000000               0.000000
4           0.000000               0.000000
5           0.000000               0.000000
6           0.000000               0.000000
7           0.000000               0.000000
8          28.222820              39.511947
9         514.559952             720.383933
10        494.665243             692.531340
11       1156.007885            1618.411039
12        823.893787            1153.451302
13        876.611070            1227.255499
14       1270.948631            1779.328083
15       1083.567768            1516.994876
16        457.877967             641.029153
17        339.174765             474.844671
18          0.000000               0.000000
19          0.000000               0.000000
20          0.000000               0.000000
21          0.000000               0.000000
22          0.000000               0.000000
23          0.000000               0.000000

In [14]:
h2_daily_df = h2_hourly_df.groupby(day_of_yr_colname).sum().reset_index()
h2_daily_df

,day_of_yr,load_mw,wind_mw,solar_mw,month,day_of_month,total_vre_mw,critical_load_mw,critical_load_less_vre_mw,surplus_vre,reqd_hydrogen_kg,hydrogen_prod_kg,hydrogen_h2o_demand_l
0,1,949.3,13.492779,533.148,24,24,546.640779,316.433333,162.933122,393.140568,8150.731472,7045.529888,9863.741843
1,2,1014.8,51.360884,616.624,24,48,667.984884,338.266667,152.416304,482.134521,7624.627514,8640.403608,12096.565051
2,3,1019.5,34.963272,412.396,24,72,447.359272,339.833333,163.603925,271.129864,8184.288411,4858.958136,6802.541391
3,4,1007.8,43.555568,497.956,24,96,541.511568,335.933333,151.031935,356.610169,7555.374421,6390.863250,8947.208550
4,5,1001.6,30.290704,459.960,24,120,490.250704,333.866667,170.211064,326.595101,8514.810605,5852.958805,8194.142327
...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,361,929.3,1.490697,567.080,288,648,568.570697,309.766667,171.035802,429.839832,8556.068157,7703.222803,10784.511924
361,362,916.9,12.214012,613.212,288,672,625.426012,305.633333,165.524307,485.316986,8280.355538,8697.437030,12176.411842
362,363,953.5,5.038729,546.812,288,696,551.850729,317.833333,171.127032,405.144428,8560.631911,7260.652827,10164.913957
363,364,906.5,25.316527,552.296,288,720,577.612527,302.166667,153.396710,428.842570,7673.672329,7685.350717,10759.491004
364,365,949.9,114.648688,524.436,288,744,639.084688,316.633333,117.200668,439.652023,5862.964882,7879.068507,11030.695909